<div th:replace="compartilhado/top"></div>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Usuários</h1>
    <p class="mb-4">Olhando todos os usuários cadastrados.</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;" >Lista de Usuários</h6>
            <a href="/administradores/novo" class="btn btn-outline-success">Novo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="administrador : ${administradores}">
                            <td th:text="${administrador.nome}"></td>
                            <td th:text="${administrador.email}"></td>
                            <td>
                                <a th:href="@{'/administradores/' + ${administrador.id}}" class="btn btn-outline-warning">Editar</a>
                                <button class="btn btn-outline-danger" data-toggle="modal" th:data-target="'#confirmDelete-' + ${administrador.id}" data-admin-id="${administrador.id}" style="margin-left: 10px;">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:each="administrador : ${administradores}">
    <div class="modal fade" th:id="'confirmDelete-' + ${administrador.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style=" width: 102%; margin-top: 14%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza de que deseja excluir o(a) administrador(ra): <span th:text="${administrador.nome}"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <form th:action="@{'/administradores/' + ${administrador.id}}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" class="btn btn-outline-danger">Confirmar Exclusão</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="compartilhado/baixo"></div>
